

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 120px;
}

html, body {
  /* scrollbar-gutter: stable both-edges; */

  @apply text-base font-serif bg-brand-gray tracking-[-.1px] text-white antialiased;
} 

body::-webkit-scrollbar {
  width: 0px;
}
 
body::-webkit-scrollbar-track {
  background-color: transparent;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #3F3C3B;
}